<!DOCTYPE html>
<html>
<head>
  <title>Nick Feller</title>
  <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/5/5d/Math_n_faculty.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
